@import url(http:\/\/fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700);
/* 
 * 
 * development code at style.scss
 *
 */
html, body {
  -webkit-font-smoothing: antialiased;
  font-family: 'Open Sans Condensed', Arial, Helvetica, sans-serif;
  line-height: 1.4;
  margin: 0;
  height: 100%;
  width: 100%; }

html {
  overflow-y: scroll; }

body {
  width: 320px;
  width: 100%;
  min-height: 300px;
  overflow: hidden;
  margin: 0 auto;
  /* subtlepatterns.com all the way */
  background: url(low_contrast_linen.png); }

a {
  text-decoration: none;
  color: #0000c8; }
  a:hover {
    border-bottom: 1px solid rgba(0, 0, 200, 0.5); }

nav {
  background: #565656;
  /* Old browsers */
  background: -moz-linear-gradient(top, #565656 0%, #2d2d2d 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #565656), color-stop(100%, #2d2d2d));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #565656 0%, #2d2d2d 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #565656 0%, #2d2d2d 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #565656 0%, #2d2d2d 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #565656 0%, #2d2d2d 100%);
  /* W3C */
  height: 50px;
  width: 320px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out; }
  nav h1 {
    float: left;
    padding: 6px 10px 11px;
    margin: 0; }
    nav h1 a {
      color: rgba(0, 0, 0, 0.8);
      text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3); }
      nav h1 a:hover {
        border: none; }
  nav ul {
    display: none; }
    nav ul a:hover {
      border: none;
      opacity: 0.7; }

#open-menu {
  float: right;
  position: relative;
  margin: 9px 10px 0 0;
  font-size: 32px;
  line-height: 32px;
  padding: 0;
  width: 30px;
  text-align: center;
  text-indent: -9999px;
  color: #fff;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5); }
  #open-menu:hover {
    border: none; }
  #open-menu:before {
    content: '≡';
    position: absolute;
    text-indent: 0;
    left: 0;
    width: 30px; }

.section-1 {
  z-index: 1;
  -webkit-transform: translate3d(0, 60px, 0);
  -moz-transform: translate3d(0, 60px, 0);
  -o-transform: translate3d(0, 60px, 0);
  transform: translate3d(0, 60px, 0); }
  .menu-open .section-1 {
    -webkit-transform: translate3d(0, 60px, 0);
    -moz-transform: translate3d(0, 60px, 0);
    -o-transform: translate3d(0, 60px, 0);
    transform: translate3d(0, 60px, 0); }

.section-2 {
  z-index: 2;
  -webkit-transform: translate3d(0, 120px, 0);
  -moz-transform: translate3d(0, 120px, 0);
  -o-transform: translate3d(0, 120px, 0);
  transform: translate3d(0, 120px, 0); }
  .menu-open .section-2 {
    -webkit-transform: translate3d(0, 120px, 0);
    -moz-transform: translate3d(0, 120px, 0);
    -o-transform: translate3d(0, 120px, 0);
    transform: translate3d(0, 120px, 0); }

.section-3 {
  z-index: 3;
  -webkit-transform: translate3d(0, 180px, 0);
  -moz-transform: translate3d(0, 180px, 0);
  -o-transform: translate3d(0, 180px, 0);
  transform: translate3d(0, 180px, 0); }
  .menu-open .section-3 {
    -webkit-transform: translate3d(0, 180px, 0);
    -moz-transform: translate3d(0, 180px, 0);
    -o-transform: translate3d(0, 180px, 0);
    transform: translate3d(0, 180px, 0); }

.section-4 {
  z-index: 4;
  -webkit-transform: translate3d(0, 240px, 0);
  -moz-transform: translate3d(0, 240px, 0);
  -o-transform: translate3d(0, 240px, 0);
  transform: translate3d(0, 240px, 0); }
  .menu-open .section-4 {
    -webkit-transform: translate3d(0, 240px, 0);
    -moz-transform: translate3d(0, 240px, 0);
    -o-transform: translate3d(0, 240px, 0);
    transform: translate3d(0, 240px, 0); }

.section-5 {
  z-index: 5;
  -webkit-transform: translate3d(0, 300px, 0);
  -moz-transform: translate3d(0, 300px, 0);
  -o-transform: translate3d(0, 300px, 0);
  transform: translate3d(0, 300px, 0); }
  .menu-open .section-5 {
    -webkit-transform: translate3d(0, 300px, 0);
    -moz-transform: translate3d(0, 300px, 0);
    -o-transform: translate3d(0, 300px, 0);
    transform: translate3d(0, 300px, 0); }

.menu-open nav {
  -webkit-transform: translate3d(0, -53px, 0);
  -moz-transform: translate3d(0, -53px, 0);
  -o-transform: translate3d(0, -53px, 0);
  transform: translate3d(0, -53px, 0); }
.menu-open #content {
  margin: 20px 0 0;
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -o-transform: scale(0.9);
  transform: scale(0.9); }
.menu-open section {
  visibility: visible;
  opacity: 1;
  box-shadow: 0 5px 0 5px #9b9b9b, inset 0 0 5px 0px rgba(0, 0, 0, 0.5); }
  .menu-open section:before {
    content: attr(data-heading);
    display: block;
    width: 100%;
    position: absolute;
    top: -24px;
    left: -5px;
    z-index: 10;
    font: normal 14px/14px Arial, Helvetica, sans-serif;
    color: #2E2E2E;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.2);
    background: -moz-linear-gradient(top, #c6c6c6 0%, #9b9b9b 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #c6c6c6), color-stop(100%, #9b9b9b));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #c6c6c6 0%, #9b9b9b 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #c6c6c6 0%, #9b9b9b 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #c6c6c6 0%, #9b9b9b 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #c6c6c6 0%, #9b9b9b 100%);
    /* W3C */
    border-radius: 3px 3px 0 0;
    padding: 5px;
    box-shadow: 0 -3px 5px 0 rgba(0, 0, 0, 0.5); }
  .menu-open section.active:after {
    content: '☚';
    display: block;
    font: normal 25px/25px Arial, Helvetica, sans-serif;
    color: #535353;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.2);
    text-align: right;
    width: 30px;
    z-index: 1000;
    position: absolute;
    right: 5px;
    top: -26px; }

#content {
  margin: 50px 0 0;
  position: relative;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out; }

section {
  padding: 10px;
  position: absolute;
  visibility: hidden;
  opacity: 0;
  background: #fff;
  -webkit-transition: -webkit-transform 0.3s ease-in-out, opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  -moz-transition: -moz-transform 0.3s ease-in-out, opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  -o-transition: -o-transform 0.3s ease-in-out, opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out, visibility 0.3s ease-in-out; }
  section h1 {
    margin: 0; }
  section.active {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }

@media (min-width: 600px) {
  html, body {
    height: auto !important; }

  body {
    /* subtlepatterns.com all the way */
    background-image: url(grid.png); }

  section {
    position: relative;
    opacity: 1;
    visibility: visible;
    -webkit-transform: none !important;
    -moz-transform: none !important;
    -o-transform: none !important;
    transform: none !important;
    max-width: 1080px;
    margin: 0 auto 10px;
    padding: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); }
    section:target {
      padding-top: 50px; }
    section h1 {
      font-size: 1.8em; }

  #open-menu {
    display: none; }

  nav ul {
    display: block;
    margin: 0 10px 0;
    padding: 12px 0;
    list-style-type: none;
    float: right; }
    nav ul li {
      display: inline-block;
      margin: 0 0 0 10px; }
      nav ul li a {
        color: #fff; } }
@media (max-width: 1200px) {
  #ribbon img {
    display: none; } }
